<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="assets/images/aadiaconitei.jpeg" class="img-fluid rounded b-shadow-a"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Adrian Adiaconitei</span></p>
                                        <p><span class="title-s">Profile: </span> <span>Full stack developer</span></p>
                                        <p><span class="title-s">Email: </span> <span>aadiaconitei@yahoo.com</span></p>
                                        <p><span class="title-s">GitHub: </span> <span>aadiaconitei</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    Sunt un profesionist pasionat de tehnologie, cu o bază academică solidă,
                                    absolvent al <b>Facultății de Matematică</b> și al <b>Facultății de Informatică,
                                        Cursuri Postuniversitare</b>.
                                    Din 2008, mi-am dedicat cariera dezvoltării software, acumulând experiență vastă
                                    în programare și formare profesională.

                                </p>

                                <p class="lead">
                                    Pe lângă activitatea de dezvoltator, sunt și formator certificat,
                                    susținând cursuri de frontend development în tehnologii moderne
                                    precum Angular, Vue, React, dar și cursuri de PHP, Node.js pentru partea de backend.
                                    Îmi place să împărtășesc cunoștințele acumulate, formând noi generații de
                                    programatori și ajutându-i să înțeleagă atât conceptele teoretice, cât și
                                    aplicabilitatea lor practică. <br>

                                    Îmi place să explorez mereu noi tehnologii, să găsesc soluții eficiente și să
                                    contribui la dezvoltarea comunității IT prin mentorat și formare.

                                </p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="skill-mf">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        My Skills
                                    </h5>
                                </div>
                                <ul id="skills" class="skills-bar-container">

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>HTML5</h3>
                                            <span class="percent" id="html-pourcent"></span>
                                        </div>
                                        <div id="html" class="bar-container" data-percent="99%">
                                            <span class="progressbar progressred"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>CSS / SASS</h3>
                                            <span class="percent" id="css-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="99%">
                                            <span class="progressbar progressblue"></span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>JavaScript / jQuery</h3>
                                            <span class="percent" id="javascript-pourcent"></span>
                                        </div>
                                        <div id="javascript" class="bar-container" data-percent="99%">
                                            <span class="progressbar progresspurple"></span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>PHP / NodeJs</h3>
                                            <span class="percent" id="php-pourcent"></span>
                                        </div>
                                        <div id="php" class="bar-container" data-percent="90%">
                                            <span class="progressbar progressorange"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>MySQL</h3>
                                            <span class="percent" id="php-pourcent"></span>
                                        </div>
                                        <div id="php" class="bar-container" data-percent="90%">
                                            <span class="progressbar progressorange"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>Angular</h3>
                                            <span class="percent" id="angular-pourcent"></span>
                                        </div>
                                        <div id="angular" class="bar-container" data-percent="60%">
                                            <span class="progressbar progressangular"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>React</h3>
                                            <span class="percent" id="react-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="85%">
                                            <span class="progressbar progressreact"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>Vue</h3>
                                            <span class="percent" id="vue-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="85%">
                                            <span class="progressbar progressvue"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>Vite/WebPack/Gulp</h3>
                                            <span class="percent" id="vue-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="85%">
                                            <span class="progressbar progressvue"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>VM/Docker</h3>
                                            <span class="percent" id="react-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="75%">
                                            <span class="progressbar progressreact"></span>
                                        </div>
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->